@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.tarefas{
    display: flex;
    width: 90vw;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;
    gap: 15px;
    color: hsl(233, 11%, 84%);
    font-size: 2em;
}

.lista{ 
  text-align: center;
}

.header{
    display: flex;
    /* background-color: hsl(235, 24%, 19%); */
    width: 100%;
    height: 2.5rem;
    font-weight: bold;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    color: hsl(235, 24%, 19%);
    /* box-shadow: 0px 0px 5px hsl(234, 39%, 85%); */
}

.listas{
    display: flex;
    width: 100%;
    flex-direction: column;
    /* gap: 10px; */    
}

.listaItem{
    display: flex;
    width: 100%;
    height: 3rem;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.254);
    background-color: hsl(235, 24%, 19%);
    /* box-shadow: 0px 0px 5px hsl(234, 39%, 85%); */    
}

.listaItem > div{
    width: 80%; 
    font-size: 1.2rem; 
    
}

.listaItem:hover{
    cursor: pointer;
    transition: all .5 ease;
    background-color: grey;
    color: white;
}

.listaItem > input[type='text']{
    border: none;
    width: 80%;
    font: inherit;
    font-size: 15px;   
}

.listaItem > input[type='checkbox']{
    all:unset;
    margin-left: 10px;
    margin-right: 10px;
    accent-color: green ;
    background-color: transparent;
    color: hsl(233, 11%, 84%);
    border-color: hsl(233, 11%, 84%);
    border:none;         
}

.listaItem > input:checked{
    background-color: hsl(233, 11%, 84%);    
    border: none;
    background-image: url(/imagens/bx-check-circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;     
}

.listaItem > input[type='button']{
    margin-right: 10px;
    background-color: transparent;
    color: hsl(233, 11%, 84%);
    border: none;    
}

.listaItem > input[type='checkbox'], .item > input[type='button'] {
    width: 20px;
    height: 20px;
    font: inherit;
    border: 1px solid black;
    border-radius: 8px;    
}

#botao{
    border-radius: 50px;
    /* background-color: red; */
    color: red;
    border-color: hsl(233, 11%, 84%);
}

.listaItem > input[type='checkbox']:checked + div{
    text-decoration: line-through;
    opacity: 0.5;
}

.nova-tarefa{
    display: flex;
    background-color: hsl(235, 24%, 19%);
    width: 100%;
    height: 3rem;
    border-radius: 8px;
    justify-content: space-evenly;
    padding: 10px 0;
    box-shadow: 0px 0px 5px hsl(234, 39%, 85%);
    margin: auto;
    font: inherit;
    color: hsl(233, 11%, 84%);
    margin-bottom: 30px;    
}

.nova-tarefa >input{
    background-color:  hsl(235, 24%, 19%);
    border: none;
    width: 90%;
    outline: none;
    font: initial;
    font-size: 1.1rem;
    margin-left: 10px;    
}

#texto{
    color:  hsl(234, 39%, 85%);
}

#texto:hover{
    color: hsl(236, 33%, 92%);
}

.nova-tarefa >button{
    background-color:  hsl(235, 24%, 19%);
    border: none;
    outline: none;
    font: initial;
    font-size: 1rem;
    color: hsl(237, 14%, 26%);
}

.nova-tarefa >input::placeholder{
    font-style: italic;
    font-weight: normal;
}


.info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 0.9rem;
    font-size: 1.2rem;
    color: hsl(237, 14%, 26%);
    background-color: hsl(235, 24%, 19%);
    /* box-shadow: 0px 0px 5px hsl(234, 39%, 85%); */
    border-radius: 5px; 
    border: 1px solid rgba(0, 0, 0, 0.254);
    cursor: pointer;
    margin-bottom: 25px;   
}

.info p{
    display: flex;
    justify-content: center;
    align-items: center;
}

#apagar:hover{
    color:red;
}

.textInsert{
    display: flex;  
   
}

.textInsert:hover{
    color:blue;
}

.ativo{
    color:blue !important;
}

.textInsert p{
    display: flex;
    width: 100%;
    height: 2.5rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color:  hsl(237, 14%, 26%);
    padding: 0 5px;   
   
}

.textInsert p:hover{
    color:rgb(38, 38, 174);
}


.arraste{
    display: flex;
    /* background-color: ; */
    width: 100%;
    height: 2.5rem;
    font-weight: bold;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: hsl(235, 24%, 19%);
    /* box-shadow: 0px 0px 5px hsl(234, 39%, 85%);  */
    font-size: 0.8rem;
    letter-spacing: 1px; 
}

@media only screen and (max-width: 700px) {
    .item{
        font-size: 1.5rem;
    }
    
}